@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  line-height: 1.5;
}

.container {
  background-color: var(--clr-grey-1);
  padding-block-start: var(--sp-10);
  padding-inline: var(--sp-6);
  min-height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  min-width: 0;
  max-width: toRem(1110px);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card-phone-width, 1fr));

  row-gap: var(--sp-6);
  column-gap: var(--sp-6);

  @media (min-width: $bp-desktop) {
    grid-template-columns: repeat(auto-fit, minmax($card-desktop-width, 1fr));
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
