/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --clr-primary: hsl(246, 80%, 60%);
  --clr-white: #fff;
  --clr-grey-1: hsl(226, 43%, 10%);
  --clr-grey-2: hsl(235, 46%, 20%);
  --clr-grey-3: hsl(235, 45%, 61%);
  --clr-grey-4: hsl(236, 100%, 87%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);
  --fs-default: var(--fs-5);
  --ff-main: "Rubik";
  --ff-secondary: "Fraunces";
  --fw-thin: 300;
  --fw-normal: 400;
  --fw-bold: 500;
  --fs-1: 0.625rem;
  --fs-2: 0.75rem;
  --fs-3: 0.875rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.25rem;
  --fs-7: 1.5rem;
  --fs-8: 1.875rem;
  --fs-9: 2.25rem;
  --fs-10: 2.75rem;
  --fs-11: 3.25rem;
  --fs-12: 3.875rem;
  --fs-13: 4.625rem;
  --fs-14: 5.375rem;
  --fs-15: 6.125rem;
  --sp-1: 0.125rem;
  --sp-2: 0.25rem;
  --sp-3: 0.5rem;
  --sp-4: 0.75rem;
  --sp-5: 1rem;
  --sp-6: 1.5rem;
  --sp-7: 2rem;
  --sp-8: 3rem;
  --sp-9: 4rem;
  --sp-10: 5rem;
  --sp-11: 6rem;
  --sp-12: 8rem;
  --container-width-desktop: 90rem;
  --container-width-mobile: 23.4375rem;
  --br-1: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  line-height: 1.5;
}

.container {
  background-color: var(--clr-grey-1);
  padding-block-start: var(--sp-10);
  padding-inline: var(--sp-6);
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  min-width: 0;
  max-width: 69.375rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  row-gap: var(--sp-6);
  column-gap: var(--sp-6);
}
@media (min-width: 75rem) {
  .dashboard {
    grid-template-columns: repeat(auto-fit, minmax(15.9375rem, 1fr));
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  background-color: var(--clr-grey-2);
  border-radius: var(--br-1);
  overflow: hidden;
  grid-column: 1/-1;
}
@media (min-width: 75rem) {
  .header {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    display: flex;
    flex-direction: column;
  }
}

.header-title {
  display: flex;
  align-items: center;
  gap: var(--sp-5);
  border-radius: var(--br-1);
  padding: var(--sp-7);
  background-color: var(--clr-primary);
}
@media (min-width: 75rem) {
  .header-title {
    flex-direction: column;
    align-items: start;
    gap: var(--sp-8);
    padding-block-end: var(--sp-11);
  }
}

.header-title img {
  width: 4.375rem;
  border: 0.125rem solid var(--clr-white);
  border-radius: 50%;
}

.title-label {
  color: var(--clr-grey-4);
  font-size: var(--fs-3);
}

.title {
  color: var(--clr-white);
  font-size: var(--fs-6);
}
@media (min-width: 75rem) {
  .title {
    font-size: var(--fs-9);
    font-weight: var(--fw-thin);
    line-height: 1.1;
  }
}

.header-tabs {
  display: flex;
  justify-content: space-between;
  padding: var(--sp-6);
  padding-inline: var(--sp-7);
}
@media (min-width: 75rem) {
  .header-tabs {
    flex-direction: column;
    align-items: start;
    flex: 1;
  }
}

.btn--tab {
  color: var(--clr-grey-3);
  transition: color 0.2s;
}
.btn--tab:hover, .btn--tab:active, .btn--tab.selected {
  color: var(--clr-white);
}

.card {
  position: relative;
  border-radius: var(--br-1);
  overflow: hidden;
  padding-block-start: 2.375rem;
}
.card.card--work {
  background-color: var(--clr-work);
}
.card.card--play {
  background-color: var(--clr-play);
}
.card.card--study {
  background-color: var(--clr-study);
}
.card.card--exercise {
  background-color: var(--clr-exercise);
}
.card.card--social {
  background-color: var(--clr-social);
}
.card.card--self-care {
  background-color: var(--clr-self-care);
}
.card > img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-10%) translateX(-30%);
}
@media (min-width: 75rem) {
  .card {
    padding-block-start: var(--sp-8);
  }
}

.card-content {
  position: relative;
  z-index: 2;
  background-color: var(--clr-grey-2);
  border-radius: var(--br-1);
  padding-inline: var(--sp-7);
  padding-block: var(--sp-6);
}
@media (min-width: 75rem) {
  .card-content {
    padding-block-end: var(--sp-7);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--sp-3);
}
@media (min-width: 75rem) {
  .card-header {
    margin-block-end: var(--sp-5);
  }
}

.card-title {
  color: var(--clr-white);
}

.btn--dots svg {
  color: var(--clr-grey-4);
}
.btn--dots:hover svg, .btn--dots:active svg {
  color: var(--clr-white);
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 75rem) {
  .card-body {
    flex-direction: column;
    align-items: start;
  }
}

.time-current {
  color: var(--clr-white);
  font-size: var(--fs-8);
  font-weight: var(--fw-thin);
}
@media (min-width: 75rem) {
  .time-current {
    font-size: var(--fs-10);
  }
}

.time-previous {
  color: var(--clr-grey-3);
  font-size: var(--fs-4);
}

/*# sourceMappingURL=styles.css.map */
